
body{
	background-color: #ddd;
	font-family: monospace;
}

textarea#main{
	font-family: 'Source Code Pro', monospace;
	background-color: #eee;
	font-size: 1.2em;
	line-height: 1;
	/* width: 90vw; */
	/* height: 90vh; */
	overflow: scroll;
	border: 0 solid;
	padding: 0;
	margin: 0;
	resize: none;
}
textarea#main:focus{
	background-color: white;
	outline: none;
}
